<template>
  <v-breadcrumbs :items="items" divider=">">
    <template #item="{ item }">
      <v-breadcrumbs-item :href="item.href" :disabled="item.disabled">
        {{ item.text }}
      </v-breadcrumbs-item>
    </template>
  </v-breadcrumbs>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: 'Home',
          disabled: false,
          href: '/',
        },
        {
          text: 'page_title',
          disabled: true,
          href: 'path_to_this_page',
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
