<template>
  <v-footer class="justify-center">
    <div class="copyright">
      <small>&copy; {{ new Date().getFullYear() }} {{ sitename }}</small>
    </div>
  </v-footer>
</template>

<script>
export default {
  data() {
    return {
      sitename: process.env.sitename,
    }
  },
}
</script>

<style lang="scss" scoped></style>
