<template>
  <v-toolbar flat>
    <v-toolbar-title>
      <nuxt-link to="/" class="brand">{{ sitename }}</nuxt-link>
    </v-toolbar-title>
  </v-toolbar>
</template>

<script>
export default {
  data() {
    return {
      sitename: process.env.sitename,
    }
  },
}
</script>

<style lang="scss" scoped>
.brand {
  color: #455a64;
  font-weight: 700;
}
</style>
