<template>
  <v-chip :color="color" label small>{{ text }}</v-chip>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'category',
    },
    color: {
      type: String,
      default: 'blue-grey lighten-5',
    },
  },
}
</script>

<style lang="scss" scoped>
.v-chip {
  justify-content: center;
  width: 8rem;
}
</style>
