// Base
$border-radius-root: 0;
$spacer: 0.25rem;

// Typography
$body-font-family: 'Noto Sans JP', sans-serif;
$line-height-root: 1.75;
$heading-font-family: $body-font-family;
$headings: (
  'h1': (
    'size': 2.5rem,
    'weight': 700,
    'line-height': 1.1,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
  'h2': (
    'size': 2rem,
    'weight': 700,
    'line-height': 1.2,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
  'h3': (
    'size': 1.5rem,
    'weight': 700,
    'line-height': 1.3,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
  'h4': (
    'size': 1.25rem,
    'weight': 700,
    'line-height': 1.4,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
  'h5': (
    'size': 1.15rem,
    'weight': 700,
    'line-height': 1.5,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
  'h6': (
    'size': 1rem,
    'weight': 700,
    'line-height': 1.75,
    'letter-spacing': 0,
    'font-family': $heading-font-family,
    'text-transform': false,
  ),
);

// Breadcrumbs
$breadcrumbs-margin: 0 0 ($spacer * 6);
$breadcrumbs-padding: 0;

// Button
$btn-text-transform: none;

// Icon
$icon-size: 1rem;
