<template>
  <v-app>
    <Header />
    <v-main>
      <v-container class="my-12">
        <nuxt />
      </v-container>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
export default {}
</script>

<style lang="scss">
a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.v-application {
  .v-breadcrumbs {
    padding: 0;
  }
}
</style>
