<template>
  <article>
    <header class="postmeta">
      <div v-if="article.featuredImage" class="entry-hero">
        <v-img
          :src="`http://localhost:1337${article.featuredImage.url}`"
          :alt="article.title"
        ></v-img>
      </div>
      <LabeledChip color="teal lighten-4" :text="article.category" />
      <h1 class="text-h1 mt-2">{{ article.title }}</h1>
      <div class="publish-date">
        Published on
        <time :datetime="article.published_at">{{
          article.published_at.slice(0, 10)
        }}</time>
      </div>
    </header>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div class="entry-body" v-html="$md.render(article.content)"></div>
    <footer>
      <v-btn nuxt to="/" large color="secondary">
        <v-icon class="mr-1">mdi-home</v-icon>
        Home
      </v-btn>
    </footer>
  </article>
</template>

<script>
export default {
  async asyncData({ params, $strapi }) {
    const article = await $strapi.find(`articles/${params.id}`)
    return { article }
  },

  head() {
    return {
      title: this.article.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `このページでは、${this.article.title}について書いています。`,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.postmeta {
  margin-bottom: 1.5rem;
  .entry-hero {
    margin-bottom: 3rem;
  }
  .entry-heading {
    margin: 0.5rem 0 0;
  }
}

.entry-body {
  margin-bottom: 3rem;
}
</style>
