<template>
  <section>
    <Breadcrumbs />

    <h1 class="text-h1 mb-12">{{ title }}</h1>

    <h2 class="text-h2 mb-6">Button / Color</h2>
    <div>
      <v-btn color="primary" elevation="1" tile>primary</v-btn>
      <v-btn color="secondary" elevation="1" tile>secondary</v-btn>
      <v-btn color="accent" elevation="1" tile>accent</v-btn>
      <v-btn color="info" elevation="1" tile>info</v-btn>
      <v-btn color="success" elevation="1" tile>success</v-btn>
      <v-btn color="warning" elevation="1" tile>warning</v-btn>
      <v-btn color="error" elevation="1" tile>error</v-btn>
    </div>

    <hr class="my-6" />

    <h2 class="text-h2 mb-6">Alert</h2>
    <div>
      <v-alert type="success" close-text="Close Alert" dismissible prominent>
        I'm an Alert Usage Example
      </v-alert>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: 'UIカタログ',
    }
  },
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `このページでは、${this.title}について書いています。`,
        },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
