<template>
  <section>
    <v-subheader>Index of articles</v-subheader>
    <v-list>
      <v-list-item-group
        v-for="article in articles"
        :key="article.id"
        color="primary"
      >
        <v-list-item nuxt :to="`/article/${article.id}`">
          <v-list-item-icon>
            <LabeledChip color="teal lighten-4" :text="article.category" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ article.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>

    <hr class="my-6" />

    <v-subheader>Static Pages</v-subheader>
    <v-list>
      <v-list-item-group color="primary">
        <v-list-item nuxt to="/catalog">
          <v-list-item-icon>
            <v-icon>mdi-book-open-page-variant-outline</v-icon>
          </v-list-item-icon>
          UIカタログ
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </section>
</template>

<script>
export default {
  async asyncData({ $strapi }) {
    const articles = await $strapi.find('articles')
    return { articles }
  },

  head() {
    return {
      titleTemplate: '',
      title: process.env.sitename,
    }
  },
}
</script>

<style lang="scss" scoped></style>
